@font-face {
    font-family:"imfellfrenchcanon" ;
    src: url("../fonts/imfellfrenchcanon-regular-webfont.woff2") format("woff2");
    src: url("../fonts/imfellfrenchcanon-regular-webfont.woff") format("woff");
    src: url("../fonts/imfellfrenchcanon-regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:"matesc" ;
    src: url("../fonts/matesc-regular-webfont.woff2") format("woff2");
    src: url("../fonts/matesc-regular-webfont.woff") format("woff"); 
    src: url("../fonts/matesc-regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:"KaiseiOpti" ;
    src: url("../fonts/Kaisei_Opti/KaiseiOpti-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}
h1 {
    font-family:'KaiseiOpti' ;
  font-weight: 100; /* я не понимаю где это посмотреть*/
  font-size: 40px;
  line-height: 32px;
  color: #F0DDA8;
}
h2 {
    font-family: 'matesc';
    font-weight: 100;
    font-size: 40px;
    line-height: 80px;
    color: #F9E0B8 ;
}
a {
    font-family:"matesc" ;
    font-size: 20px;
    color: #FFEDBD;
    text-decoration: none;
}
a:hover{
    color: #9D8A57;
    text-decoration: underline;
    text-decoration-color: #9D8A57;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}
body { 
    background-color: #151014;

}
header {
    background-color: #312725;
    width: 100%;
    height: 97px;
    padding: 25.5px 45px;
}
.header_construction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 46px;
    padding: 15px 0;

}
.nav {
 display: flex;
 list-style-type: none;
 justify-content: right; /* расположение по горизонтали*/
 align-items: center; /* расположение по вертикали*/
}
.nav>li{
    margin-left: 20px;
    margin-right: 20px;
}
.divider{ 
    color: #61584E;
    font-size: 25px;
}
.F1{
    width: 100%;
    height: 753px;
    padding: 194px 360px;
    background-image: url(../img/F1.svg);/* настроить изображение*/
    background-position: center top;
    background-repeat: no-repeat;
    background-size:cover;
}
.banner{
    width: 468px;
}

