@font-face {
    font-family:"imfellfrenchcanon" ;
    src: url("../fonts/imfellfrenchcanon-regular-webfont.woff2") format("woff2");
    src: url("../fonts/imfellfrenchcanon-regular-webfont.woff") format("woff");
    src: url("../fonts/imfellfrenchcanon-regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:"matesc" ;
    src: url("../fonts/matesc-regular-webfont.woff2") format("woff2");
    src: url("../fonts/matesc-regular-webfont.woff") format("woff"); 
    src: url("../fonts/matesc-regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:"KaiseiOpti" ;
    src: url("../fonts/Kaisei_Opti/KaiseiOpti-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}
h1 {
    font-family:'KaiseiOpti' ;
  font-weight: 100; /* я не понимаю где это посмотреть*/
  font-size: 40px;
  line-height: 32px;
  color: #F0DDA8;
}
h2 {
    font-family: 'matesc';
    font-size: 40px;
    line-height: 80px;
    color: #F9E0B8 ;
}
a {
    font-family:"matesc" ;
    font-size: 20px;
    color: #FFEDBD;
    text-decoration: none;
    transition: 0.3s ease-out; /*впихнуть псевдоэлемент */
}
a:hover{
    color: #9D8A57;
    text-decoration-color: #9D8A57; 
}
body { 
    background-color: #151014;

}
header {
    background-color: #312725;
    width: 100%;
    padding: 25.5px 0;
    margin: auto;
    top: 0;
    z-index: 30;
}
.header-container {
    width: 100%;
    max-width: 1830px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;/* ???*/
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

}
.header-nav {
 display: flex;
 list-style-type: none;
 justify-content: right; /* расположение по горизонтали*/
 align-items: center; /* расположение по вертикали*/
}

.nav_link{
    margin-left: 24px;
}
.nav_link::before{
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 1px;
    content: "";
    display: block;
    background-color: #9D8A57;
    transition: 0,3s ease-out;    
}
.divider{ 
    color: #61584E;
    font-size: 25px;
    margin-left: 24px;
}
.introduction{
    width: 100%;
    padding: 220px 15px;
    background-image: url(../img/F1.svg);/* настроить изображение*/
    background-position: center top;
    background-repeat: no-repeat;
    background-size:cover;
}
.introduction-container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

}

